.room-list-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.headerRoom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.voice-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

.voice-button:hover {
  background-color: #0056b3;
}

.room-lists {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.room-cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45%;
  
}

.room-card-clean {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: antiquewhite;
}
.room-card-reclean {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: rgba(215, 249, 250, 0.782);
}

.room-card:hover {
  background-color: #f9f9f9;
}

.room-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.room-card h2 {
  margin: 0;
  font-size: 1.5em;
}

.status {
  padding: 5px 10px;
  border-radius: 4px;
  color: white;
}

.status.clean {
  background-color: green;
}

.status.messy {
  background-color: red;
}

.status.in-progress {
  background-color: orange;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button:hover {
  background-color: #0056b3;
}

.button svg {
  margin-right: 5px;
}
